button {
  all: unset;
  font-wheight: 500;
  color: var(--text-highlight);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;

  cursor: pointer;


  &.btn-primary {
    background-color: #E43A12;
    color: #ffffffff;

    &:hover,
    &:focus {
      background-color: #F3541C;
    }
  }

  &.btn-secondary {
    margin-left: auto;
    border: 1px solid var(--text-hightlight);


      &:hover,
    &:focus {
      color:  #E43A12;
      outline: .25rem solid var(--surface-secondary);
    }
  
}